@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(135deg, #2e1d5b, #4a3069, #7c416e);
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
}
